body,
div.main {
    text-align: center
}

div.main,
div.main section.links {
    box-sizing: border-box
}

@media only screen and (max-width:255px) {
    img {
        display: none
    }
}

body {
    font-family: 'Share Tech Mono', monospace;
    font-weight: 300;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(-135deg, #000, #666);
    min-height: 100vh;
    margin: 0;
}

div.main {
    width: 300px;
    background: linear-gradient(-135deg, #111, #999);
    border-radius: 7px;
    padding: 50px 25px;
    display: inline-block;
    height: 400px;
    margin-top: calc(((100vh - 565px)/ 2));
    box-shadow: 0 1px 5px 0 white, 0 5px 50px 0 white;
    transition: 1000ms;
}

div.main section.photo {
    height: 200px;
}

div.main section.photo img {
    height: 200px;
    border-radius: 3%;
    box-shadow: 0 1px 5px 0 white, 0 5px 50px 0 white;
}

div.main section.info {
    height: 80px
}

div.main section.info h1 {
    font-weight: 100;
    font-size: 20pt;
    line-height: 20px;
    text-shadow: 1px 1px 2px whitesmoke;
}

div.main section.info h2 {
    font-size: 16pt;
    font-weight: 100;
    line-height: 0px;
    text-shadow: 1px 1px 2px whitesmoke;
}

div.main section.links a {
    text-decoration: none;
    display: inline-block;
}

div.main section.links a svg {
    height: 30px;
    width: auto
}

div.main section.links a svg path {
    fill: white;
    transition: fill .25s;
}

div.main section.links a:hover svg path {
    fill: #333333;
}

footer {
    font-size: 9pt;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #b3b3b3;
    text-shadow: 1px 1px 2px black;
}

div.main:hover {
    box-shadow: 0px -20px 50px 5px white, 0px 20px 50px 5px white;
    scale: 1.1;
    cursor: pointer;
}